# Generate a token with read/write/delete:packages permissions and export from your ~/.bash_profile
# https://github.com/settings/tokens
@OneAppExchange:registry=https://npm.pkg.github.com
@oneappexchange:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
